body {
  overflow-x: hidden;
}

.dark-mode {
  background: black;
  color: white;
}

/* Nav bar */
ul {
  list-style: none;
  display: flex;
}

li {
  margin: 1rem;
}

nav {
  background: transparent;
  position: absolute;
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  z-index: 299;
  color: white;
}

nav a {
  color: white;
}

.nav-right {
  display: none;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: 0.5s;
  height: 100%;
  width: 0;
  z-index: 299;
  overflow-y: auto;
}

.sidebar .logos {
  display: none;
  position: relative;
}

.sidebar button {
  display: none;
  position: relative;
}

.menu {
  background: transparent;
  border: 0px;
}

.sidebar.active {
  width: 250px;
}

.sidebar.active button {
  display: block;
}

.dropdown {
  background-color: black;
  color: white;
  padding: 1rem;
  border: 0px;
}

.sidebar.active .logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.logos img {
  width: 60%;
}

.logos button {
  background: transparent;
  border: 0px;
}

.theme {
  display: none;
  position: relative;
  min-width: 100px;
}

.theme.active {
  display: flex;
  flex-direction: column;
}

.theme button {
  background: transparent;
  color: black;
  text-align: justify;
  padding: 1rem;
  border: 0px;
  cursor: pointer;
}

.pages {
  display: none;
  position: relative;
  transition: 0.5s;
}

.pages.active {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.trading {
  display: none;
  position: relative;
  min-width: 100px;
}

.trading.active {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.mining {
  display: none;
  position: relative;
  min-width: 100px;
}

.mining.active {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.mining.active a,
.trading.active a,
.pages.active a {
  text-align: center;
  padding: 1rem;
}

.pages.active a,
.trading.active a,
.mining.active a {
  display: flex;
  align-items: center;
  color: black;
}

.pages.active a i,
.trading.active a i,
.mining.active a i {
  margin: 8px;
}

.pages.active a img {
  display: flex;
  width: 10%;
  margin: 8px;
}

/* End of Nav bar */

.topsection {
  background: linear-gradient(rgba(3, 6, 126, 0.85), rgba(122, 0, 147, 0.85));
  color: white;
  text-align: center;
  padding: 3rem;
}

a {
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center;
  width: 90%;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
}

.footerright {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.footerright div {
  display: flex;
  flex-direction: column;
}

.question-holder h2 {
  text-align: center;
}

.question-container {
  display: flex;
  flex-direction: column;
}

.questions {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #d4dfec;
  padding: 1rem;
  box-shadow: 3px 3px 5px grey;
}

.questions button {
  background: transparent;
  border: 0px;
  text-align: justify;
  margin: 8px;
}

.copyfirst,
.copysecond,
.copythird,
.copyfourth,
.copyfifth,
.copysixth,
.copyseventh,
.copyeighth,
.copyninth,
.copytenth {
  display: none;
}

.copyfirst.active,
.copysecond.active,
.copythird.active,
.copyfourth.active,
.copyfifth.active,
.copysixth.active,
.copyseventh.active,
.copyeighth.active,
.copyninth.active,
.copytenth.active {
  display: block;
  padding: 1rem;
  position: relative;
}


.tabcontainer h2{
  text-align: center;
}

.tabbutton {
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
}

.tabbutton button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tabbutton button:hover,
.tabbutton button.active {
  background-color: #ee6e73;
  color: #1aa1a7;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tabcontent button {
  background: #d4dfec;
  border: 0px;
  width: 100%;
  padding: 1rem;
  text-align: justify;
  cursor: pointer;
}

.myaccountone,
.myaccounttwo,
.myaccountthird,
.myaccountfourth,
.myaccountfifth,
.myaccountsixth,
.miningoutputone,
.miningoutputtwo,
.allocationone,
.allocationtwo,
.contractone,
.contracttwo,
.contractthree,
.contractfour,
.contractfive,
.contractsix,
.contractseven,
.affiliateone,
.affiliatetwo,
.affiliatethree,
.affiliatefour,
.generalone {
  display: none;
}

.myaccountone.active,
.myaccounttwo.active,
.myaccountthird.active,
.myaccountfourth.active,
.myaccountfifth.active,
.myaccountsixth.active,
.miningoutputone.active,
.miningoutputtwo.active,
.allocationone.active,
.allocationtwo.active,
.contractone.active,
.contracttwo.active,
.contractthree.active,
.contractfour.active,
.contractfive.active,
.contractsix.active,
.contractseven.active,
.affiliateone.active,
.affiliatetwo.active,
.affiliatethree.active,
.affiliatefour.active,
.generalone.active {
  display: block;
  position: relative;
  padding: 1rem;
}

@media screen and (min-width:768px){
  .question-container{
    flex-direction: row;
    width: 100%;
  }

  .questions{
    width: 50%;
    height: 100%;
    box-shadow: 3px 3px 5px grey;
  }

  .footer{
    flex-direction: row;
  }

  .footerright{
    width: 40%;
    text-align: justify;
  }

  .footerleft{
    width: 40%;
  }
}